
build.xml
manifest.mf
nbproject/build-impl.xml
nbproject/configs/Run_as_WebStart.properties
nbproject/configs/Run_in_Browser.properties
nbproject/genfiles.properties
nbproject/jfx-impl.xml
nbproject/private/configs/Run_as_WebStart.properties
nbproject/private/configs/Run_in_Browser.properties
nbproject/private/private.properties
nbproject/private/private.xml
nbproject/project.properties
nbproject/project.xml
build/classes/privatemoviecollection/BE/Category.class
build/built-jar.properties
build/classes/privatemoviecollection/BE/Movie.class
build/classes/privatemoviecollection/BLL/Exception/MovieCollectionException.class
/dist/
build/classes/privatemoviecollection/DAL/database.settings
build/classes/.netbeans_automatic_build
build/classes/.netbeans_update_resources
build/classes/privatemoviecollection/DAL/ServerConnect.class
build/classes/privatemoviecollection/DALDB/MovieDAO.class
build/classes/privatemoviecollection/DALDB/CategoryDAO.class
build/classes/privatemoviecollection/FXMLDocument.fxml
build/classes/privatemoviecollection/FXMLDocumentController.class
build/classes/privatemoviecollection/PrivateMovieCollectionn.class
src/privatemoviecollection/FXMLDocument.fxml
src/privatemoviecollection/FXMLDocument.fxml
src/privatemoviecollection/PrivateMovieCollectionn.java
src/privatemoviecollection/FXMLDocument.fxml
src/privatemoviecollection/FXMLDocument.fxml
src/privatemoviecollection/PrivateMovieCollectionn.java
src/privatemoviecollection/PrivateMovieCollectionn.java
